* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.header {
    padding: 10px 20px;
    color: white;
    background-color: black;
}

.sub-title {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single-post {
    width: 580px;
    border: 4px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
    font-size: 25px;
}

.like-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.like-btn {
    border: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 3px black;
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(219, 188, 103);
    color: black;
    padding: 2px 20px;
}

.profile {
    width: 200px;
    border: 4px;
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.profile-img {
    width: 100px;
}